{% extends "admin/partials/dashboard.html" %} {% block content %}
<h2>Group - {* group.name *}</h2>

<h4>Users</h4>
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Username</th>
        <th>Email</th>
        <th>Account Verified</th>
        <th>Account Created</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if users.data %} {% for user in users.data %}
      <tr>
        <td>{* user.id *}</td>
        <td>{* user.username *}</td>
        <td>{* user.email *}</td>
        <td>{* user.email_verified *}</td>
        <td>{* user.created_at|date("d/M/Y") *}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm float-right">
            Actions
          </button>
        </td>
      </tr>
      {% endfor %} {% else %}
      <tr>
        <td colspan="5">
          <div class="alert alert-primary">No Users Found</div>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
</div>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item {% if users.current_page <= 1 %} disabled {% endif %}">
      <a class="page-link" href="{* users.prev_page_url *}">Previous</a>
    </li>
    {% if (users.current_page - 1) > 0 %}
    <li class="page-item">
      <a
        class="page-link"
        href="/admin/users?page={* users.current_page - 1 *}"
      >
        {* users.current_page - 1 *}</a
      >
    </li>
    {% endif %}
    <li class="page-item active">
      <a class="page-link" href="#">{* users.current_page *}</a>
    </li>
    {% if (users.current_page + 1) <= users.last_page %}
    <li class="page-item">
      <a class="page-link" href="/admin/users?page={* users.current_page + 1 *}"
        >{* users.current_page + 1 *}</a
      >
    </li>
    {% endif %}
    <li
      class="page-item {% if users.current_page == users.last_page %} disabled {% endif %}"
    >
      <a class="page-link" href="{* users.next_page_url *}">Next</a>
    </li>
  </ul>
</nav>

<!-- Role selector -->
<div class="container">
  <div class="row" id="add-section">
    <div class="col">
      <h4 class="text-center">Available Roles</h4>
      <div class="card">
        <div id="accordion">
          <div
            class="card"
            v-for="categoryId in Object.keys(assigned)"
            v-if="assigned[categoryId].length"
          >
            <div class="card-header">
              <a href="" class="card-link" data-toggle="collapse">
                {{ categories[categoryId].name }}
              </a>
            </div>
            <div
              v-bind:id="'#collapse_' + categoryId"
              class="collapse show"
              data-parent="#accordion"
            >
              <ul class="list-group">
                <li
                  class="list-group-item"
                  v-for="(role, idx) in assigned[categoryId]"
                >
                  <span>{{ role.name }}</span>
                  <button
                    class="btn btn-sm btn-primary float-right align-middle"
                    :data-role="role.id"
                    :data-category="categoryId"
                    v-on:click="addRole"
                  >
                    <i class="fas fa-plus"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <h4 class="text-center">Added Roles</h4>
      <div class="card">
        <div id="accordion">
          <div
            class="card"
            v-for="categoryId in Object.keys(non_assigned)"
            v-if="non_assigned[categoryId].length"
          >
            <div class="card-header">
              <a href="" class="card-link" data-toggle="collapse">
                {{ categories[categoryId].name }}
              </a>
            </div>
            <div
              v-bind:id="'#collapse_' + categoryId"
              class="collapse show"
              data-parent="#accordion"
            >
              <ul class="list-group">
                <li
                  class="list-group-item"
                  v-for="(role, idx) in non_assigned[categoryId]"
                >
                  <span>{{ role.name }}</span>
                  <button
                    class="btn btn-sm btn-danger float-right align-middle"
                    :data-role="role.id"
                    :data-category="categoryId"
                    v-on:click="removeRole"
                  >
                    <i class="fas fa-minus"></i>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End role selector -->

<script>
  // console.log({{}})
  new Vue({
    el: "#add-section",
    data: {
      assigned: [],
      non_assigned: [],
      categories: {}
    },
    beforeCreate: function() {
      fetch("http://development/api/roles")
        .then(res => {
          return res.json();
        })
        .then(data => {
          console.log(data);
          this.assigned = data.assigned;
          this.non_assigned = data.non_assigned;
          this.categories = data.categories;
        });
    },
    methods: {
      addRole: function(ev) {
        var role_id = ev.currentTarget.getAttribute("data-role");
        var category = ev.currentTarget.getAttribute("data-category");
        console.log(role_id, category);

        var role = this.non_assigned[category].find((role) => role.id === role_id);
        console.log(this.non_assigned[category]);
        // this.addedRoles[category].roles.push(role);
        // this.addedRoles[category].show = true;
        // this.userRoles[category].roles.splice(role, 1);
      },
      removeRole: function(ev) {
        var role_id = ev.currentTarget.getAttribute("data-role");
        var category = ev.currentTarget.getAttribute("data-category");
        console.log(role_id, category);

        console.log(this.assigned[category]);
        var role = this.assigned[category].find((role) => role.id === role_id);
        console.log(role);
      }
    }
  });
</script>
{% endblock %}
