<header class="navbar navshadow bg-dark text-light p-2">
  <div class="grid-lg">
    <section class="navbar-section d-inline-block float-left">
      <a href="/" class="navbar-brand mr-2 text-secondary">MVC</a>
      <a href="/about" class="btn btn-link text-light">About</a>
      <a href="/users" class="btn btn-link text-light">Users</a>
    </section>
    {% if user_logged_in %}
    <section class="navbar-section d-inline-block float-right">
      <div class="input-group input-inline">
        <a href="/auth/logout" class="btn btn-link text-light">Logout</a>
      </div>
    </section>
    {% else %}
    <section class="navbar-section d-inline-block float-right">
      <div class="input-group input-inline">
        <a href="/login" class="btn btn-link text-light">Login</a>
        <a href="/register" class="btn btn-link text-light">Register</a>
      </div>
    </section>
    {% endif %}
  </div>
</header>
