<header class="navbar navshadow bg-dark text-light p-2">
    <div class="container  grid-lg">

        <section class="navbar-section d-inline-block float-left">
            <a href="/mvc-framework/public/home/" class="navbar-brand mr-2 text-secondary">MVC</a>
            <a href="/mvc-framework/public/home/about" class="btn btn-link text-light">About</a>
        </section>
        <section class="navbar-section d-inline-block float-right">
            <div class="input-group input-inline">
                <input class="form-input" type="text" placeholder="search" />
                <button class="btn btn-primary input-group-btn">Search</button>
            </div>
        </section>
    </div>
</header>
