<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
    <div class="container">
      <a class="navbar-brand" href="#">MVC</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarsExample07"
        aria-controls="navbarsExample07"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample07">
        <ul class="navbar-nav col-lg-3 col-sm-4">
          <li class="nav-item active">
            <a class="nav-link" href="/"
              >Home <span class="sr-only">(current)</span></a
            >
          </li>
          {% if nav_roles['pages.access.about'] %}
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          {% endif %}
          {% if nav_roles['admin.access'] %}
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
          {% endif %}
        </ul>
        <div class="col-lg-6 col-xl-5 col-sm-8">
          <form action="#" class="search-wrap">
            <div class="input-group w-100">
                <input type="text" class="form-control" style="width:55%;" placeholder="Search">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="submit">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
          </form> <!-- search-wrap .end// -->
      </div>
        <ul class="navbar-nav d-flex flex-row-reverse col-lg-3 col-xl-4 col-sm-12">
            {% if user_logged_in %}
            <li class="nav-item d-inline">
              <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
            {% else %}
            <li class="nav-item d-inline">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item d-inline">
              <a class="nav-link" href="/register">Register</a>
            </li>
            {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>
