{{ include("partials/head.html") }}
{{ include("partials/navbar.html") }}

<div class="container grid-lg">
    <h1 class="my-2">Edit User</h1>
    <a href="/users/show/{{ id }}" class="btn m-2">Back</a>
    <div class="card">
    <form action="/users/update" method="post">
      <input name="id" type="hidden" value="{{ id }}">
      <div class="card-body">
        Username: <input type="text" name="username" value="{{ username }}" /><br />
        E-mail: <input type="text" name="email" value="{{ email }}" /><br />
      </div>
      <div class="card-footer d-flex">
        <input class="btn btn-primary m-1" type="submit" value="Edit" />
      </form>
      </div>
    </div>
</div>
