{* include("partials/head.html") *}
{* include("partials/navbar.html") *}



<div class="container grid-lg mt-2">
        <div id="attendance">
            <div class="card sticky-top bg-white p-3">

                <h2 class="sticky-top">Attendance {{playercount}} / 40 </h2>
                <div class="row">
            
                    <input
                    type="text"
                    class="form-control col m-2"
                    id="event_name"
                    placeholder="Enter Event Name"
                    v-model="event_name"
                    >
                    
                    <input
                    type="date"
                    name="event_date" 
                    class="form-control col m-2"
                    :value="event_date && event_date.toISOString().split('T')[0]"
                    @input="event_date = $event.target.valueAsDate"
                    >
                </div>
                
                <button class="btn-primary btn float-right mb-2" style="max-width: 150px;">Create Event</button>
            </div>
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Class</th>
                            <th>Rank</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="player in players" :data-player="player.name" v-bind:class="{'refreshClass': active}">
                            <td>{{player.name.charAt(0).toUpperCase() + player.name.slice(1)}}</td>
                            <td>{{player.player_class.charAt(0).toUpperCase() + player.player_class.slice(1)}}</td>
                            <td>{{player.rank_index}}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button
                                            type="button"
                                            class="btn"
                                            v-bind:class="{'btn-danger': !going[player.name]}"
                                            v-on:click="updatePlayer"
                                    >Not Going</button>
                                    <button
                                            type="button"
                                            data-attr="tank"
                                            class="btn"
                                            v-bind:class="{'btn-primary': going[player.name] === 'tank'}"
                                            v-if="['warrior', 'druid'].includes(player.player_class)"
                                            v-on:click="updatePlayer"
                                    >Tank</button>
                                    <button
                                            type="button"
                                            data-attr="heal"
                                            class="btn"
                                            v-bind:class="{'btn-primary': going[player.name] === 'heal'}"
                                            v-if="['priest', 'druid', 'paladin', 'shaman'].includes(player.player_class)"
                                            v-on:click="updatePlayer"
                                    >Heal</button>
                                    <button
                                            type="button"
                                            data-attr="dps"
                                            class="btn"
                                            v-bind:class="{'btn-primary': going[player.name] === 'dps'}"
                                            v-on:click="updatePlayer"
                                    >Dps</button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
            
            <script>
            
            const player_data = [
                {
                    name: 'syth',
                    player_class: 'warrior',
                    rank_index: 0
                },
                {
                    name: 'kiccpe',
                    player_class: 'rogue',
                    rank_index: 1
                },
                {
                    name: 'randomhealer',
                    player_class: 'priest',
                    rank_index: 3
                }
            ]
            let todays_date = new Date();
            new Vue({
                el: '#attendance',
                data: function() {
                    return {
                        players: player_data,
                        going: {},
                        active: false, // changes on update to force refresh
                        event_date: new Date(),
                        event_name: ''
                    }
                },
                watch: {
                    going: {
                        deep: true,
                        handler: function() {}
                    }
                },
                computed: {
                    playercount: function() {
                        let refresh = this.active;
                        let count =  Object.values(this.going).reduce((acc, curr) => {
                            if (!curr) {
                                return acc;
                            }
                            acc++
                            return acc;
                        }, 0);
                        return count;
                    }
                },
                methods: {
                    updatePlayer: function(ev) {
                        const el = ev.currentTarget;
                        const attr = el.getAttribute('data-attr');
                        const rowEl = el.closest('tr');
                        const player = rowEl.getAttribute('data-player');
                        this.going[player] = attr;
                        this.active = !this.active;
                    },
                    save: function() {
            
                    }
                },
                beforeCreate: function() {
                    fetch("http://development/event/getPlayers&rank=4")
                        .then(res => {
                            return res.json();
                        })
                        .then(data => {
                            console.log(data);
                            // this.assigned = data.assigned;
                            // this.non_assigned = data.non_assigned;
                            // this.categories = data.categories;
                            this.players = Object.values(data).sort(function(a, b) {
                                return a.rank_index - b.rank_index;
                            });
                        });
                },
            })
            
            </script>
</div>
  