{* include("partials/head.html") *}
{* include("partials/navbar.html") *}


<div class="container grid-lg mt-2">
    <form action="/import/update" method="POST">
        <h2>Import</h2>
        <div class="form-group">
            <label for="user_import">Paste in the user import data from the addon</label>
            <textarea name="data" class="form-control" id="user_import" rows="5"></textarea>
            <button class="btn btn-primary mt-2 float-right" type="submit">Import</button>
        </div>
    </form>
</div>